
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: url('../images/pacman_cabaret2.png') no-repeat center center fixed;
  background-size: 52rem 40rem;
  background-color: black;
  height: 100%;
  margin: 0;
}

#wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#game {
  position: relative;
  display: inline-grid;
  background: black;
}

.game-status {
  position: absolute;
  top: 10rem;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  border: 5px darkblue solid;
  background: black;
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 1.9rem;
}

#score {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border: 5px darkblue solid;
  background: black;
  margin-top: 10px;
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
}

#start-button {
  font-family: 'Press Start 2P', cursive;
  cursor: pointer;
  margin-top: 2px;
  color: #ffff00;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 21.2rem;
  z-index: 1;
  animation: zoominoutsinglefeatured 3s infinite ;
}

@keyframes zoominoutsinglefeatured {
  0% {
      transform: scale(2,2);
  }
  50% {
      transform: scale(1.2,1.2);
  }
  100% {
      transform: scale(2,2);
  }
}

.hide {
  display: none;
}

.square {
  display: block;
}

.blank {
  background: black;
}

/* -Walls- */
.wall {
  border: solid #18189e;
  background-color: #18189e;
}

/*up right*/
.wallur{
  border: solid #18189e;
  background-color: #18189e;
  border-radius: 0px 5px 0px 0px;
}

/*up left*/
.wallul{
  border: solid #18189e;
  background-color: #18189e;
  border-radius: 5px 0px 0px 0px;
}

/*up left right*/
.wallulr{
  border: solid #18189e;
  background-color: #18189e;
  border-radius: 5px 5px 0px 0px;
}

/*down right */
.walldr{
  border: solid #18189e;
  background-color: #18189e;
  border-radius: 0px 0px 0px 5px;
}

/*down left*/
.walldl {
  border: solid #18189e;
  background-color: #18189e;
  border-radius: 0px 0px 5px 0px;
}

/*down left right*/
.walldlr {
  border: solid #18189e;
  background-color: #18189e;
  border-radius: 0px 0px 5px 5px;
}

/*up down right*/
.walludr {
  border: solid #18189e;
  background-color: #18189e;
  border-radius: 0px 5px 5px 0px;
}

/*up down left*/
.walludl {
  border: solid #18189e;
  background-color: #18189e;
  border-radius: 5px 0px 0px 5px;
}

/*------------------------------*/

.dot {
  background: #ffb897;
  border: 8px solid black;
  border-radius: 50%;
}

.pill {
  background: #ffb897;
  border: 5px solid black;
  border-radius: 50%;
}

.ghost {
  position: relative;
  border-radius: 10px 10px 2px 2px;
  border: none;
}

.ghost::before {
  content: '';
  display: block;
  position: absolute;
  width: 3px;
  height: 3px;
  background: black;
  border-radius: 50%;
  left: 3px;
  top: 5px;
  border: 2px solid white;
}

.ghost::after {
  content: '';
  display: block;
  position: absolute;
  width: 3px;
  height: 3px;
  background: black;
  border-radius: 50%;
  right: 3px;
  top: 5px;
  border: 2px solid white;
}

.scared {
  background: blue !important;
}

.blinky {
  background: red;
}

.pinky {
  background: pink;
}

.inky {
  background: cyan;
}

.clyde {
  background: orange;
}

.pacman {
  background: #ffff00;
  border: none;
  border-radius: 50%;
  clip-path: polygon(
    0 0,
    20px 0,
    20px -5px,
    8px 10px,
    20px 25px,
    20px 20px,
    0 20px
  );
  animation: chew 0.2s linear forwards infinite;
}

@keyframes chew {
  50% {
    clip-path: polygon(
      0 0,
      20px 0,
      20px 10px,
      8px 10px,
      20px 10px,
      20px 20px,
      0 20px
    );
  }
}